<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @thing.number %>
</p>

<p>
  <b>String:</b>
  <%= @thing.string %>
</p>


<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
